{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Modificar</h5><span>Para modificar esta empresa, por favor rellene el siguiente formulario.</span>
  </div>
    <form class="form theme-form" method="post" enctype="multipart/form-data">
        <div class="card-body">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn crispy_forms btn-primary" type="submit">Modificar</button>
        </div>
    </form>
</div>