{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Empresas</h5><span>Listas de las empresas existentes en el sistema.</span>
  </div>
    <div class="card-body">
         {% if lista_empresas %}
    <div class="table-responsive">
            <table class="display dataTable no-footer" id="basic-2" role="grid" aria-describedby="basic-1_info">
              <thead>
                <tr role="row">
                  <th>ID Empresa</th>
                    <th>Nombre de la Empresa</th>
                    <th>RFC de la Empresa</th>
                    <th>Giro de la Empresa</th>
                    <th>Pais de la Empresa</th>
                    <th>Estado de la Empresa</th>
                    <th>Sector de la Empresa</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              {%  for empresa in lista_empresas %}
              <tr>
                  <td>{{ empresa.idEmpresa }}</td>
                  <td>{{ empresa.razonSocial }}</td>
                  <td>{{ empresa.rfc }}</td>
                  <td>{{ empresa.giro }}</td>
                  <td>{{ empresa.country }}</td>
                  <td>{{ empresa.city }}</td>
                  <td>{{ empresa.sectorEmpresa }}</td>
                  <td><button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                  <div class="dropdown-menu" style="">
                          <h6 class="dropdown-header">Seleccione la opción</h6>
                      <a class="dropdown-item" href="{% url 'empresas_ver' empresa.idEmpresa %}">Ver detalles</a>
                      <a class="dropdown-item" href="{% url 'empresas_modificar' empresa.idEmpresa%}">Modificar</a>
                      <a class="dropdown-item" href="{% url 'empresas_eliminar' empresa.idEmpresa%}">Eliminar</a>
                        </div></td>
                </tr>
                {% endfor %}
            </table>
          </div>
        {% else %}
                                <div class="alert alert-primary d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" fill="currentColor"
                                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                         role="img" aria-label="Warning:">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                    </svg>
                                    <div>
                                        No existen registros de empresas
                                    </div>
                                </div>
                            {% endif %}
        </div>
</div>
