{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header pb-0">
        <h4>Detalles de contacto</h4><span>Detalles del contacto {{ contactos.nombre.lower }}</span>
    </div>
    <div class="card-body">
        <h5>Id del contacto: </h5> {{ contacto.idContacto }}
        <h5>Nombre del contacto:</h5> {{ contacto.nombre }}
        <h5>Número de teléfono del contacto:</h5> {{ contacto.numTelefono }}
        <h5>Empresa relacionada al contacto:</h5> {{ contacto.idEmpresa }}
    </div>
    <div class="card-body">
        <a href="{% url 'contactos' %}" class="btn crispy_forms btn-primary">Regresar</a>
    </div>
</div>