{% load static %}
{% load sass_tags %}
<footer class="footer {{footer}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <p class="mb-0">CENTRO UNIVERSITARIO DEL SUR
Av. Enrique Arreola Silva No. 883, Colonia Centro
C.P. 49000, Ciudad Guzmán, Jalisco, México.
Teléfono: +52 (341) 575 2222</p>

      </div>
      <div class="col-md-6">
        <p class="pull-right mb-0">AFDevelopment <i class="fa fa-heart font-secondary"></i></p>
      </div>
    </div>
  </div>
</footer>