{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/daterange-picker.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
    <!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
{% include 'layout/breadcrumb.html' %}
{% csrf_token %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% include 'reportes/components/reportes.html' %}
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>

    <script src="{% static 'assets/js/datepicker/daterange-picker/moment.min.js' %}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterange-picker.custom.js' %}"></script>

    <script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/reportes/reportes.js' %}"></script>

<!-- Plugins JS Ends-->
{% endblock scriptcontent %}
