{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Contactos</h5><span>Lista de los contactos existentes en el sistema.</span>
  </div>
    <div class="card-body">
         {% if lista_contactos %}
          <div class="table-primary">
            <table class="display" id="basic-2">
              <thead>
                <tr>
                    <th>Nombre del contacto</th>
                    <th>Número de teléfono</th>
                    <th>Empresa</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              {%  for contacto in lista_contactos %}
              <tr>
                  <td>{{ contacto.nombre }}</td>
                  <td>{{ contacto.numTelefono }}</td>
                  <td>{{ contacto.idEmpresa.razonSocial }}</td>
                  <td>{{ contacto.email }}</td>
                  <td><button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                  <div class="dropdown-menu" style="">
                          <h6 class="dropdown-header">Seleccione la opción</h6>
                      <a class="dropdown-item" href="{% url 'contactos_ver' contacto.idContacto %}">Ver detalles</a>
                      <a class="dropdown-item" href="{% url 'contactos_modificar' contacto.idContacto %}">Modificar</a>
                      {% if request.user.is_staff %}
                      <a class="dropdown-item" href="{% url 'contactos_eliminar' contacto.idContacto %}">Eliminar</a>
                      {% endif %}
                        </div>
                      </td>
                </tr>
                {% endfor %}
            </table>
          </div>
        {% else %}
        <div class="alert alert-warning inverse alert-dismissible fade show" role="alert"><i class="icon-bell"></i>
              <p><b> ¡Sin registros! </b>No existen registros de contactos.</p>
              <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"><span
                  class="bg-warning" aria-hidden="true">dismiss</span></button>
            </div>
         {% endif %}
        </div>
</div>
