{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header pb-0">
        <h4>Detalles de carrera</h4><span>Detalles de la carrera de {{ carrera.nombreCarrera.lower }}</span>
    </div>
    <div class="card-body">
        <h5>Id de la carrera: </h5> {{ carrera.idCarrera }}
        <h5>Nombre de la carrera:</h5> {{ carrera.nombreCarrera }}
    </div>
    <div class="card-body">
        <button class="btn crispy_forms btn-primary">Regresar</button>
    </div>
</div>